body{
  background-image: linear-gradient(to right, rgb(232, 16, 189), rgb(94, 86, 92));

}

.heading{
text-align: center;
margin-top: 30px;
text-shadow: 5px 5px 5px #33333333;
background-image: linear-gradient(48deg,rgb(5, 137, 137) ,rgb(98, 3, 122) );
-webkit-background-clip: text;
color: transparent;
 
}
/* #innerdiv{
  margin: 0px auto;

} */
#input1{
  border-radius: 5px;
  border: 0px solid white;
  padding:10px 50px;
  margin-top: 20px 10px 10px;

}
/* #btn1-styling{
  border-radius: 5px;
  border: 0px solid white;
  padding:10px 30px;
  margin: 20px 10px 10px;
  background-color: rgb(226, 168, 43);

} */
.div-wrapper{
  width: 90%;
  margin: 20px auto;
  /* height: 800px; */
  display: flex;
  flex-wrap: wrap;
  
  
}
.movie-card{
  width: calc(25% - 30px);
  margin: 15px;
  background-color:black;
  color: rgb(161, 157, 157);
  text-align: center;
  border-radius: 5px;
  /* box-shadow:5px 5px 5px 5px rgb(230, 228, 228) ; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.movie-thumbnail{
  border-top-right-radius:5px ;
  border-top-left-radius:5px ;
  width: 100%;
  height: 150px;

}
/* #wishlist-button{
  border-radius: 5px;
  border: 0px solid white;
  padding:5px ;
  margin: 10px;
  background-color: rgb(226, 43, 119);

} */